body {
  margin: 0;
  font-family: 'Poppins','Ubuntu',sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root{
  background: rgb(148,127,250);
  background: linear-gradient(180deg, rgba(148,127,250,1) 0%, rgba(196,184,255,1) 65%, rgba(255,255,255,1) 100%);
}
#buttonNewHotel{
  width: 10%;
}
#buttonNewRoom{
  width: 40%;
}


@media (max-width: 600px) {
  .images-round-one img{
    width: 60%;
  }
  .images-round-two img{
    width: 15%;
  }
  .images-round-three{
    right: -25px !important;
  }
  .images-round-three img{
    width: 70%;
  }
  #buttonNewHotel{
    width: 50%;
  }
  #buttonNewRoom{
    width: 50%;
  }
}